
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div data-target="#bs-example-navbar-collapse-1" class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               
                <a class="navbar-brand page-scroll" href="#page-top">
         U.F.O</a>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><span style="color: red">U</span>niv <span style="color: red">F</span>orest <span style="color: red">O</span>pseoye</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">게시판으로 고고!</a>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/jquery.fittext.js"></script>
    <script src="/assets/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="//blackrockdigital.github.io/startbootstrap-creative/js/creative.js"></script>
